@font-face {
  font-family: "iconfont"; /* Project id 4882639 */
  src: url('iconfont.woff2?t=1749196507521') format('woff2'),
       url('iconfont.woff?t=1749196507521') format('woff'),
       url('iconfont.ttf?t=1749196507521') format('truetype');
}

.iconfont {
  font-family: "iconfont" !important;
  font-size: 16px;
  font-style: normal;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-xiangce1:before {
  content: "\e672";
}

.icon-dongwutouxiang-01:before {
  content: "\e699";
}

.icon-dongwutouxiang-04:before {
  content: "\e69b";
}

.icon-xiangce:before {
  content: "\e6e2";
}

